
.scribCon {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.scribbleOne {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--secondaryColor);
    border-width: 5px;
    border-style: double;
    padding: 5rem;
    animation: wobble 4s linear 0s infinite;
    filter: blur(15px);
}
    
.scribbleTwo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--secondaryColor);
    border-width: 5px;
    border-style:double;
    padding: 3rem;
    transform: rotate(90deg);
    animation: wobble2 10s linear 0s infinite;
    filter: blur(15px);
}
    
.scribbleThree {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--secondaryColor);
    border-width: 5px;
    border-style:double;
    padding: 1rem;
    animation: wobble3 4s linear 0s infinite;
    filter: blur(15px);
}
    
@keyframes wobble {
    0% {transform: rotate(0)}
    100% {transform: rotate(360deg)}
}
    
@keyframes wobble2 {
    0% {transform: rotate(90deg)}
    100% {transform: rotate(450deg)}
}    
    
@keyframes wobble3 {
    0% {transform: rotate(180deg)}
    100% {transform: rotate(540deg)}
}    

@media screen and (max-width: 1000px) {
    .scribbleOne, .scribbleTwo, .scribbleThree {
        padding: 3rem;
    }
}

@media screen and (max-width: 550px) {
    .scribCon{
        margin: 2rem 0px;
    }
}