.homepageCon {
  animation: fadeIn 0.5s linear 0s 1;
}

.titleCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  margin-left: 2rem;
}

.skillsCon {
  display: flex;
  flex-direction: column;
}

.skillsCon h2 {
  margin: 1.5rem 0px;
  /* text-decoration: underline; */
  border-bottom-color: var(--tertiaryColor);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 3rem;
  cursor: pointer;
  width: 50%;
}

.skillsCon h2:active {
  color: var(--tertiaryColor);
}

.skillsList {
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.5s cubic-bezier(0.9, 0.82, 0.165, 1) 0s 1;
  height: auto;
  list-style: circle;
}

.experienceList {
  list-style: square;
}

#experienceItem {
  margin-left: 4rem;
}

.skillsListOut {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: -100;
  animation: fadeOut 0.5s cubic-bezier(0.9, 0.82, 0.165, 1) 0s 1;
  opacity: 0;
  height: 5px;
  list-style: circle;
}

.skillsList li,
.skillsListOut li {
  margin: 1rem 1rem;
  font-size: 1.35rem;
  transition: all 0.15s ease-in;
}

.skillsList a:hover {
  color: var(--tertiaryColor);
}

.mail {
  position: absolute;
  right: 15%;
  top: 15%;
  animation: fadeIn 0.5s linear 0s 1;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes fadeOut {
  0% {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
    filter: blur(5px);
  }
}

@media screen and (max-width: 550px) {
  .titleCon {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    padding-top: 1rem;
  }
  .skillsCon {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .skillsList {
    height: auto;
  }
  .skillsListOut {
    height: 50px;
  }

  .skillsList li {
    font-size: 1rem;
  }
  .homepageCon {
    align-items: flex-start;
  }
  .homepageCon h2 {
    font-size: 1.25rem;
  }
}
