.homepageCon {
    /* display: flex; */
    animation: fadeIn 0.5s linear 0s 1;
  }
  
  .titleCon {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    margin-left: 2rem;
    /* width: 100%; */
  }

  .skillsCon {
    display: flex;
    flex-direction: column;
  }

  .skillsCon h2 {
    margin: 1.5rem 0px;
    /* text-decoration: underline; */
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 3rem;
    cursor: pointer;
  }
  
  .skillsCon h2:active {
    color: white;
  }

  .skillsList {
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.5s cubic-bezier(0.9, 0.82, 0.165, 1) 0s 1;
    height: auto;
  }

  .skillsListOut {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: -100;
    animation: fadeOut 0.5s cubic-bezier(0.9, 0.82, 0.165, 1) 0s 1;
    opacity: 0;
    height: 5px;
  }

  .skillsList li, .skillsListOut li {
    border-width: 2px;
    border-radius: 20px;
    border-style: solid;
    /* margin: 0px 1.5rem; */
    padding: 10px;
    font-weight: bold;
    transition: all 0.15s ease-in;
  }

  .mail {
    align-self: center;
  }

  @keyframes fadeIn {
    0% {
      transform: translateY(-50px);
      opacity: 0;
      filter: blur(5px);
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
      filter: blur(0px);
  }
  }

  @keyframes fadeOut {
    0% {
      transform: translateY(0px);
      opacity: 1;
      filter: blur(0px);
    }
    100% {
      transform: translateY(-50px);
      opacity: 0;
      filter: blur(5px);
  }
  }
  
  @media  screen and (max-width: 1200px) {
    .mail {
      width: 100px;
    }
  }

  @media  screen and (max-width: 550px) {
    .titleCon {
      flex-direction: column-reverse;
      justify-content: space-evenly;
      margin-top: 0px;
    }
    .skillsCon {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }
    .skillsList li {
      margin: 0px;
      text-align: center;
    }
    .homepageCon {
      align-items:flex-start;
    }
    .homepageCon h2 {
      font-size: 1.25rem;
    }
    .mail {
      width: 100px;
      margin: 2rem 0px;
    }
  }