.homepageCon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .titleCon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-left: 2rem;
    animation: fadeIn 0.5s linear 0s 1;
  }

  .skillsCon {
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
  }

  .skillsCon h2 {
    margin: 1.5rem 0px;
    text-decoration: underline;
    font-size: 1.5rem;
    cursor: pointer;
  }


  .skillsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    animation: fadeIn 0.5s linear 0s 1;
  }

  .skillsListOut {
    display: grid;
    /* position: absolute; */
    overflow: hidden;
    z-index: -100;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    animation: fadeOut 0.5s linear 0s 1;
    opacity: 0;
    height: 5px;
  }

  .skillsList li, .skillsListOut li {
    border-width: 2px;
    border-radius: 20px;
    border-style: solid;
    margin: 0px 1rem;
    padding: 10px;
    font-weight: bold;
    transition: all 0.15s ease-in;
  }

  .skillsList li:hover {
    background-color: var(--secondaryColor);
    color: var(--mainColor);
  }

  .cog {
    position: absolute;
    right: 15%;
    top: 15%;
    animation: 
    rotateCog 20s linear 0s infinite, 
    fadeIn 0.5s linear 0s 1; ;
  }

  @keyframes fadeIn {
    0% {
      transform: translateY(-50px);
      opacity: 0;
      filter: blur(5px);
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
      filter: blur(0px);
  }
  }

  @keyframes fadeOut {
    0% {
      transform: translateY(0px);
      opacity: 1;
      filter: blur(0px);
    }
    100% {
      transform: translateY(-50px);
      opacity: 0;
      filter: blur(5px);
  }
  }

  @keyframes rotateCog {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }
  
  @media  screen and (max-width: 1200px) {
    .cog {
      width: 200px;
    }
  }

  @media  screen and (max-width: 900px) {
    .titleCon img {
      width: 200px;
    }
  }
  @media  screen and (max-width: 550px) {
    .titleCon {
      flex-direction: column;
      justify-content: space-evenly;
    }
    .skillsCon {
      margin-left: 0rem;
    }
    .skillsList, .skillsListOut {
      grid-template-columns: 125px 125px;
    }
    .skillsList li {
      margin: 0px;
      text-align: center;
    }
    .homepageCon {
      align-items:flex-start;
    }
    .homepageCon h2 {
      font-size: 1.25rem;
    }
    .cog {
      position: absolute;
      width: 100px;
      left: 45%;
      top: 30%;
    }
  }