.homepageCon {
    animation: fadeIn 0.5s linear 0s 1;
  }
  
  .titleCon {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 2rem;
    /* animation: fadeIn 0.5s linear 0s 1; */
  }

  .skillsCon {
    display: flex;
    flex-direction: column;
  }

  .skillsCon h2 {
    margin: 1.5rem 0px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 3rem;
    cursor: pointer;
    width: 50%;
  }

  .skillsCon h2:active {
    color: white;
  }

  .skillsList {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 1rem;
    animation: fadeIn 0.5s cubic-bezier(0.9, 0.82, 0.165, 1) 0s 1;
    height: auto;
  }

  .skillsList img, .skillsListOut img {
    filter: grayscale(1);
  }

  .skillsList img:hover, .skillsListOut img:hover {
    filter: grayscale(0);
  }

  .skillsListOut {
    display: grid;
    /* position: absolute; */
    overflow: hidden;
    z-index: -100;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 1rem;
    animation: fadeOut 0.5s cubic-bezier(0.9, 0.82, 0.165, 1) 0s 1;
    opacity: 0;
    height: 50px;
  }

  .skillsList li, .skillsListOut li {
    border-width: 2px;
    border-radius: 20px;
    border-style: solid;
    padding: 10px;
    font-weight: bold;
    transition: all 0.15s ease-in;
  }

  .skillsList li:hover {
    background-color: var(--secondaryColor);
    color: var(--mainColor);
  }

  .cog {
    animation: rotateCog 20s linear 0s infinite;
    align-self: center;
  }

  @keyframes fadeIn {
    0% {
      transform: translateY(-50px);
      opacity: 0;
      filter: blur(5px);
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
      filter: blur(0px);
  }
  }

  @keyframes fadeOut {
    0% {
      transform: translateY(0px);
      opacity: 1;
      filter: blur(0px);
    }
    100% {
      transform: translateY(-50px);
      opacity: 0;
      filter: blur(5px);
  }
  }

  @keyframes rotateCog {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }
  
  @media  screen and (max-width: 1200px) {
    .cog {
      width: 200px;
    }
  }
  @media  screen and (max-width: 550px) {
    .titleCon {
      flex-direction: column-reverse;
      justify-content: space-evenly;
      margin-top: 0px;
    }
    .skillsCon {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }
    .skillsList, .skillsListOut {
      grid-template-columns: 125px 125px;
    }
    .skillsList li {
      margin: 0px;
      text-align: center;
    }
    .homepageCon {
      align-items:flex-start;
    }
    .homepageCon h2 {
      font-size: 1.25rem;
    }
    .cog {
      width: 100px;
      margin: 2rem 0px;
    }
  }