@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../fonts/Ubuntu-Bold.ttf') format('ttf');
}

:root {
  --mainColor: #0A2647;
  --mainFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
  font-family: var(--mainFont);
}

.heroTitle {
  font-size: 5rem;
text-align: center;
}