.homepageCon {
    animation: fadeIn 0.5s linear 0s 1;
    padding-bottom: 1rem;
}
  
.titleCon {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    padding: 1rem 2rem;
}

.titleCon h1 {
  font-size: clamp(2rem, 5vw, 5rem);
  color: var(--tertiaryColor);
}

.titleCon span {
  color: var(--secondaryColor);
}

.articleCon {
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, 2vw, 1.5rem);
  width: 75ch;
  margin: 2rem;
}

.articleCon hr {
  color: var(--tertiaryColor);
}

.articleCon h2 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    text-decoration: underline;
    color: var(--tertiaryColor);
}

.articleCon a {
  color: var(--tertiaryColor);
  text-decoration: underline;
}

.listCon {
  font-size: clamp(1rem, 2vw, 1.5rem);
  width: 75ch;
  margin: 3rem;
  width: 50%;
  list-style-type: disc;
}

.imageCon, .imageCon2 {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.imageCon span, .imageCon2 span {
  font-size: clamp(0.9rem, 2vw, 1.25rem);
  font-style: italic;
  color: var(--tertiaryColor);
}

.imageCon img {
  filter: grayscale(1);
  border-radius: 25px;
  width: 1140px;
  height: 550px;
  box-shadow: 0px 0px 20px 5px var(--tertiaryColor);
  -webkit-box-shadow: 0px 0px 20px 5px var(--tertiaryColor);
}

.imageCon2 img {
  filter: grayscale(0);
  border-radius: 25px;
}

.nextArticleCon {
  display: flex;
  justify-content: space-between;
}

.prevArticle, .nextArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 0px 1rem;
}

  @keyframes fadeIn {
    0% {
      transform: translateY(-50px);
      opacity: 0;
      filter: blur(5px);
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
      filter: blur(0px);
  }
  }

  @keyframes fadeOut {
    0% {
      transform: translateY(0px);
      opacity: 1;
      filter: blur(0px);
    }
    100% {
      transform: translateY(-50px);
      opacity: 0;
      filter: blur(5px);
  }
  }
  

  @media  screen and (max-width: 800px) {
    .titleCon {
      flex-direction: column-reverse;
      justify-content: space-evenly;
      margin-top: 0px;
    }
    .homepageCon {
      align-items:flex-start;
    }
    .homepageCon h2 {
      font-size: 1.25rem;
    }
    .articleCon {
      font-size: 1rem;
      width: auto;
      margin: 1rem;
    }
    .postsCon a {
      margin: 0px;
    }
    .rotateBorder {
      padding: 6rem;
    }
    .imageCon img, .imageCon2 img {
      width: 400px;
      height: 225px;
    }
    .prevArticle h3, .nextArticle h3 {
      display: none;
    }
  }