.heroHomepageTitle {
  font-size: 8rem;
  line-height: 7rem;
  color: white;
}

.portfolioCon {
  margin: 5rem 2rem;
}

.portfolioCon li {
  margin-bottom: 1rem;
  font-size: 2rem;
  border-bottom-color: white;
  border-bottom-width: 1px;
}

.portfolioCon p {
  font-size: 1.25rem;
  text-align: center;
}

.portfolioList {
  /* display: flex;
  flex-direction: column; */
  list-style: decimal;
}

.queueCon {
  display: flex;
  flex-direction: column;
  width: 1000px;
  /* grid-template-columns: 1000px 800px;
  grid-template-rows: 1fr; */
  border-width: 5px;
  border-color: white;
  border-radius: 20px;
}

.imageCon img {
  border-radius: 10px;
  height: 500px;
  border-bottom-color: var(--secondaryColor);
  border-bottom-width: 5px;
}

.textCon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.textCon a {
  color: white;
  font-weight: bold;
}

.textCon a:hover {
  color: aqua;
}

.stackCon {
  display: flex;
  padding: 1rem;
}

@media screen and (max-width: 550px) {
  .heroHomepageTitle {
    font-size: 4rem;
    line-height: 4rem;
  }
  .portfolioCon {
    width: 300px;
  }
  .queueCon {
    display: flex;
    flex-direction: column;
    /* width: 350px; */
    margin: 3rem 0px;
    width: 300px;
  }
  .imageCon img {
    width: 300px;
    height: 200px;
  }
  .portfolioList {
    margin: 0px;
  }
  .portfolioCon {
    margin: 0px;
  }
  .portfolioCon li {
    font-size: 1.5rem;
    margin-top: 5rem;
  }
}
