.searchCon, .darkSearchCon {
    margin: 3rem 0px; 
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-primary,
:where(.css-1xg9z9n).ant-btn-primary {
    color: var(--secondaryColor);
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):focus,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-1xg9z9n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active,
:where(.css-1xg9z9n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):focus,
:where(.css-1xg9z9n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: var(--secondaryColor);
    color: var(--mainColor);
    border-color: var(--secondaryColor);
}

.darkSearchCon :where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-primary,
.darkSearchCon :where(.css-1xg9z9n).ant-btn-primary {
    color: var(--mainColor);
}

.darkSearchCon :where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover,
.darkSearchCon :where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):focus,
.darkSearchCon :where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active,
.darkSearchCon :where(.css-1xg9z9n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover,
.darkSearchCon :where(.css-1xg9z9n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):focus,
.darkSearchCon :where(.css-1xg9z9n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active {
    background-color: var(--mainColor);
    color: var(--secondaryColor);
}
