.searchCon {
    margin: 3rem 0px; 
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-primary,
:where(.css-1xg9z9n).ant-btn-primary {
    color: var(--secondaryColor);
    border-color: var(--secondaryColor);
    font-size: 1rem;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):focus,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-1xg9z9n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active,
:where(.css-1xg9z9n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):focus,
:where(.css-1xg9z9n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: var(--secondaryColor);
    color: var(--mainColor);
    font-size: 1rem;
}
